<div>

    <audio controls>
        <source src="http://localhost:3000/imageNewFeed/1641958129019-BuocQuaNhau-Vu-7120388.mp3" type="audio/ogg">
        <source src="http://localhost:3000/imageNewFeed/1641958129019-BuocQuaNhau-Vu-7120388.mp3" type="audio/mpeg">
    </audio>

</div>