@import 'variables';
.test {
  font-size: large;
  color: $red-color;
  font-size: 1em sans-serif;
}
.card-margintop-12{
  margin-top: 20px;
}
.mr{
  float: right;
}
.user-avatar{
  width: 28px;
  height: 28px;
  border-radius:  50%;
  margin-right: 4px;
}