<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <form class="d-flex" method="POST" action="">
            <input class="form-control me-2" name="q" type="text" placeholder="Search" aria-label="Search">
            <input class="form-control me-2" name="fullname" type="text" placeholder="full name" aria-label="Search">
            <select name="select">
                <option value="">---chon gioi tinh---</option>
                <option value="male">Nữ</option>
                <option value="female">Nam</option>
            </select>
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</nav>