<form action="/postImage" method="post" enctype="multipart/form-data">
  <div class="mb-3">
    <label for="nameImage" class="form-label">Chon anh</label>
    <input type="file" class="form-control" name="imagePost" />
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">Hay viet gi do</label>
    <input type="text" class="form-control" name="description" />
  </div>
    <div class="mb-3">
    <label for="userId" class="form-label">Nhap ID cua ban</label>
    <input type="text" class="form-control"  name="userId" />
  </div>
  
 <button type='submit' class='btn btn-primary'>Dang post</button>
</form>